@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap);

body {
	background-color: #1a1a1a;
	color: #fafafa;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

.introduction {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.introduction__content {
	text-align: center;
}

.introduction__heading {
	font-family: 'Montserrat', sans-serif;
    font-weight: 300;
	font-size: 3rem;
	margin-bottom: 2rem;
}

.highlight {
	color: red;
}

.introduction__name {
	color: #ff4d5a;
}

.introduction__text {
	font-size: 1.6rem;
	max-width: 600px;
	line-height: 1.5;
}

.about-me-button {
	padding: 1rem 2.5rem;
	line-height: 1.6;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
	color: #A32cc4;
	background-color: transparent;
	border: 2px solid #A32cc4;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.about-me-button:hover {
	background-color: #A32cc4;
	color: #1a1a1a;
}

#about__me {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

#projects {
	min-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	width: 100%;
}

.socials {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 2rem;
  width: 100%; 
}

.socials__github {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.socials__github img {
  width: 24px; 
  height: 24px;
  object-fit: contain; 
  object-position: center; 
  transition: transform 0.3s ease;
}

.socials__github:hover {
  transform: scale(1.1);
}

.socials__github:hover img {
  transform: scale(1.2);
}
